* {
    box-sizing: border-box;
}


body {
    font-family:'Courier New', Courier, monospace; 
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #ff0000;
    margin-top: 20px;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
div {
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 10px auto;
    border: 1px solid;
    background-color: rgb(171, 165, 165);
}