* {
    box-sizing: border-box;
}


body {
    font-family:'Courier New', Courier, monospace; 
    margin: 0 auto;
    padding: 0;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
    color: #ff0000;
    margin-top: 20px;
}
.container {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: center; */
    padding: 20px;
}
.container div {
    text-align: center;
    width: 300px;
    height: 500px;
    margin: 10px auto;
    border: 1px solid;
    background-color: rgb(171, 165, 165);
}


.pokemon-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    
    transition: width 0.9s ease-in-out, height 0.9s ease-in-out, opacity 0.5s;
    opacity: 1;
}

.bigSize {
    width: 300px !important;
    height: 300px !important;
}

.hidden {
    opacity: 0;
    width: 100px; 
}

.pokemon-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(15px);
    z-index: 2 !important;
    width: 30%;
    height: 600px;
    margin: auto;
}

.pokemon-modal nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

footer {
    text-align: center;
    margin: 20px 0;
    border: 1px solid;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(255, 255, 95);
}

.stats-display {
    white-space: pre-line;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
}

.close-btn:hover {
    color: #ff0000;
}